{
  "extends": "eslint-config-egg",
  "rules": {
    "array-bracket-spacing": [
      1,
      "never"
    ],
    // 对象的最后一个属性，不需要添加逗号
    "comma-dangle": [
      1,
      "never"
    ],
    // 双引号
    "quotes": [
      1,
      "double"
    ]
  }
}